 /* CCS RESEST */
        
        *{
            margin: 0;
            padding: 0;
        }
        
        body{
            font-family: "avenir-next", sans-serif;
            background-color: #ffffff;
            padding: 0px;
        }

html {
    scroll-behavior: smooth;
}


#home {
        max-width: 100%;

}

.bg {
    background-image: url(img/cityscape.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 499px;
}

.bg p {display: none;}


    /*MONOGRAM*/
        .logo {
            max-width: 9%;
            max-height: 18%;
            float: left;
            margin-left: 8em;
            margin-top: -0.5em;
        }
       
    /*NAVIGATION*/    

        ul {
            font-size: 20px;
        }
        
        ul li {
            display: inline-block;
            margin-left: 15px;
            text-align: right;
        }

        li a {
            color: #006064;
            text-decoration: none;
        }

        nav {
            top: 0;
            left: 0;
            margin-top: 1.2em;
            margin-left: -8em;
            width: 100%;
            padding: 0.01em;
            font-weight: 900;
        }

        nav ul {
            letter-spacing: 2px;
            text-align: right;
            margin-top: 2em;
        }

        nav ul li {
            display:inline;
            padding: 0.10em;
            margin: 15px;
        }


        nav a:hover { 
            color: #4DD0E1;
            transition: all 0.3s ease-in;
        }

    /*INTRO*/

        .intro1 {
            font-size: 2em;
            text-align: center;
            color: #006064;
            padding-top: 3em;
            margin-bottom: 0.2em;
        }

        .intro2 {
            font-size: 2.2em;
            font-weight: 500;
            text-align: center;
            color: #00838F;
            padding-top: 0em;
            margin-bottom: 0.1em;
            letter-spacing: 0.1em;
        }

        .intro3 {
            font-size: 2em;
            margin-top: -0.5em;
            text-align: center;
            color: #0097A7;
            padding-bottom: -0.2em;
        }

/* PORTFOLIO */

        #Portfolio h3 {
            text-align: center;
            font-size: 20px;
            color: #006064;
            margin-top: 0.5em;
        }

        #portfoliowork {
               margin-left: 5.5em;
        
        }

/* PORTFOLIO DESIGNER WEBSITE*/

.paulascher {
  max-width: 63.8%;
    height: auto;
    opacity: 4;  
    margin-left: 13.05em;
    margin-right: auto;
    padding: 1em 0em 0em 0em;
}

.overlay1 {
    position: absolute;
    background-color: #B2EBF2;
    top: 60.25em; 
    left: 18.55em;
   right: 16em; 
    bottom: 0;
    height: 59.3%;
    width: 58.9%;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.designerwebsite {
    font-size: 3.9em;
    font-weight: 550;
    margin-top: 0em;
    line-height: 1.05em;
    text-transform;
    color:  #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay1:hover .designerwebsite { 
    color:  transparent;
    background-color: transparent;
    transition: all 0.4s ease-in-out;}

.overlay1:hover {background: rgba(224,247,250,.1);
    border-bottom: none;}

/* CSS GRID1 PORTFOLIO */

.grid1 ul {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 12.05em;
  list-style-type: none;
    margin-left: 14.05em;
    padding-top: 1em;
}

.grid1 li {
    position: relative;
    width: 170%;
    }

.image2 {
    max-width: 120%;
    align-content: center;
    padding: 0em 0em 0em 0em;
}

.overlay2 {
    position: absolute;
    background-color: #B2EBF2;
    top: 0; 
    bottom: 0;
    height: 99%;
    width: 120%;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

    .text2 {
    font-size: 1.8em;
    font-weight: 550;
    margin-top: 0em;
    line-height: 1.05em;
    text-transform;
    color:  #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay2:hover .text2 { 
    color:  transparent;
    padding: 6px 6px 6px 6px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;}

.overlay2:hover {background: rgba(224,247,250,.1);
    border-bottom: none;}

/* CSS GRID2 PORTFOLIO */

.grid2 ul {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 12.05em;
  list-style-type: none;
    margin-left: 14.05em;
    padding-top: 1em;
}

.grid2 li {
    position: relative;
    width: 170%;
    }

.image3 {
    max-width: 120%;
    align-content: center;
    padding: 0em 0em 0em 0em;
}

.overlay3 {
    position: absolute;
    background-color: #B2EBF2;
    top: 0; 
    bottom: 0;
    height: 99%;
    width: 120%;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

    .text3 {
    font-size: 1.8em;
    font-weight: 550;
    margin-top: 0em;
    line-height: 1.05em;
    text-transform;
    color:  #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay3:hover .text3 { 
    color:  transparent;
    padding: 6px 6px 6px 6px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;}

.overlay3:hover {background: rgba(224,247,250,.1);
    border-bottom: none;}


/* ABOUT */

        #About h2 {
            text-align: center;
            font-size: 50px;
            color: #0097A7;
            margin-top: 3em;
        }

        .aboutme p{
            font-size: 1.35em;
            margin-left: 16em;
            margin-right: 16em;
            margin-top: 1.5em;
            line-height: 1.3em;
            margin-bottom: 1em;
            text-align: justify;
        }


/* CCS GRID VALUES */

        #values {
            display: grid;
            grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
            padding-top: 5em;
            margin-top: 3em;
        }

        #values, h3{
            grid-column: 2/4;
            text-align: center;
            font-size: 1.2em;
            color: #0097A7;
            margin-top: 0em;
        }

        #values, img { 
            max-width: 55%;
            padding-bottom: 1em;
            padding-top: 1em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            margin-left: auto;
            margin-right: auto;
        }

        #values, p {
            font-size: 1em;
            text-align: justify;
            color: #000;
            margin-top: 0.5em;
        }

        .project {
            grid-column: 1/5;
            margin-left: 3em;
            text-align: center;
        }

        .item1 {
            grid-column: 6/10;
            text-align: center;
        }

        .item2 {
            grid-column: 1/5;
            text-align: center;
        }

        .item3 {
            grid-column: 6/10;
            text-align: center;
        }

        .title3 {
            margin-bottom: 0em;
        }

/* CONTACT */

        #Contact, h2 {
            text-align: center;
            font-size: 50px;
            color: #0097A7;
            margin-top: 0.5em;
        }

        .contact {
            padding-top: 0.1em;
            background-color: #E0F7FA;
        }

        .email { 
            font-size: 0.5em;
            color: #000000;
            padding-top: 1.5em;
            text-align: center;
            padding-bottom: 1em;
            margin-left: 20em;
            margin-right: 20em;
            line-height: 1.35em;
        }

        .email a {
            text-decoration: none;
            color: #000000;
        }

        .email a:hover {
            padding: 3px 3px 3px 3px;
            background-color: #00ACC1;
            color: #ffffff;
            }

/* ICONS */

        .connections {
            position: relative;
            margin: 0 auto;
            margin: 10px, 0;
            margin-bottom: 0em;
        }

        .connections ul {
            margin: 0;
            padding 0;
        }

        .connections li {
            margin: 0 1px;
            padding: 0;
            padding-top:0em; 
            list-style: none;
            display: inline-block
        }

        .connection a:link {
            border-bottom: none;
        }

        .connections img {
            opacity: 0.9;
            border: none;
            height: 2.1em;
        }

        .connections a:hover img {
            opacity: 6.0;
            border-bottom: none;
            transition: all 0.4s ease-in-out;
            transform: scale(1.4);
        }